@import "tailwindcss";

@theme {
  --color-brandBlue: #07187b;
  --color-brandGreen: #94b500;
  --color-brandGreenAlt: #7fa000;
  --color-brandGreyBlue: #6571ab;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: #6571ab;
  background: #ffffff;
  font-feature-settings: "ss01";
}

html {
  scroll-behavior: smooth;
}